<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PantileSoft</title>
    <meta name="author" content="pantilesoft" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="PantileSoft Pstxy Outlook .pst .ost file reader" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">    
  </head>
  {{ content }}
</html>
